.container{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    margin-top: 3rem;
}
.ShowList{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 2rem;
}
.shows{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 253, 152);
    padding: 10px 12px;
    border: 1px solid rgb(161, 161, 111); 
}

.showLink{
    text-decoration: none;
    color: black;
}