.movieList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.SectionMovies{
    padding-top: 5rem;
}

.SectionMovies h2{
    font-size: 35px;
    margin-bottom: 2rem;
}