.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.BookingSummary{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    grid-gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 3rem;
}
.seatList{
    list-style: none;
}
.seatList li{
    margin-bottom: 1rem;
    /* border-bottom: 1px solid rgb(201, 201, 201); */
    color: rgb(0, 0, 0);
    font-weight: 100;
}
.selectedSeat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.proceedButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    background-color: rgb(241, 47, 47);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#totalPrice{
    font-size: 15px;
    font-weight: bold;
}
#Proceed{
    font-size: 15px;
    font-weight: 500;
}
#details{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
#details input{

    padding: 10px ;
    border-radius: 3px;
    background-color: rgb(226, 224, 224);
    border: 1px solid rgb(119, 119, 119);
}
