.sectionPerson{
    background-color: rgb(24, 24, 24);
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.ActorImage{
    width: 250px;
    border-radius: 50%;
}
.list{
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
}
.sectionPerson .container{
    display: flex;
    flex-direction: row;
    grid-gap: 5rem;
}
.personDetail{
    margin-top: 2rem;
    list-style: none;
}

.detailSection{
    padding-top: 1rem;
}
.detailSection h3{
    font-size: 30px;
}
.detailSection li{
    color: rgb(148, 144, 144);
}
.Aboutsection{
    padding: 2rem 0;
}
.Aboutsection h3{
    margin-bottom: 12px;
}