.RecieptMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Reciept {
  max-width: 400px;
  width: 100%;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 3rem;
  align-items: center;
}
.successful {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 0.5rem;
  align-items: center;
}
.successful img {
  height: 3rem;
}
.goback{
    text-decoration: underline;
    color: blue;
    font-size: 14px;
    font-weight: 500;
}
