*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.header{
    background-color: rgb(54, 7, 99);
    color: white;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.logo{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navlist{
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 60px;
    background-color: rgb(29, 25, 31);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
#SignInImage{
    width: 1.5rem;
}
.headerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 3rem;
    
}

.SignIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 2px;
    
}
.signInText{
    text-decoration: none;
    color: white;
}

.profile span{
    font-size: 20px;
    
}
.profile{
    background-color: rgb(83, 46, 153);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.profileChar{
    color: rgb(211, 146, 255);
    font-weight: 700;
}