
.SelectSeatmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeatUl{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.BigScreen{
    width: 15rem;
    height: 5px;
    background-color: rgb(179, 231, 255);
    border: 1px solid rgb(72, 165, 194);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 2rem;
}

#PayButton{
    text-decoration: none;
    color: white;
    background-color: rgb(241, 47, 47);
    padding: 10px 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#PayButton:hover{
    background-color: rgb(245, 86, 86);
    transition: all ease-in 0.2s;
    
}