.signinMain{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.signinForm{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(220, 252, 252);
}
.signinForm h2{
    margin-bottom: 3rem;
}
.signinForm div{
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signinForm input{
    width: 100%;
    background-color: rgb(227, 233, 233);
    border: none;
    padding: 14px;
    margin-top: 10px;
}
.signinForm label{
    font-weight: 600;
}
.SigninButton{
    margin-top: 2rem;
    color: white;
    background-color: rgb(241, 47, 47);
    padding: 10px 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signupLink{
    text-decoration: none;
    font-size: 14px;
}