.signupMain{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.signupForm{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signupForm h2{
    padding-bottom: 2rem;
}
.signupForm div{
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signupForm input{
    width: 100%;
    padding: 0.5rem;
    margin-top: 10px;
}
.signupForm label{
    font-weight: 600;
}
.SignupButton{
    margin-top: 2rem;
    color: white;
    background-color: rgb(241, 47, 47);
    padding: 10px 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signupLink{
    text-decoration: none;
    font-size: 14px;
}