.SectionMovie{
    padding: 2rem 0;
    background-color: rgb(37, 37, 37);
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.movieImage{
    width: 271px;
    border-radius: 10px;
}
.SectionMovie .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 3rem;
}
.movieDetails{
    color: white;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
}
.movieDetails h3{
    font-size: 35px;
}
.lang{
    background-color: white;
    color: black;
    width: fit-content;
    padding: 1px 2px ;
}
.BookButton{
    text-decoration: none;
    background-color: rgb(223, 77, 24);
    color: white;
    width: fit-content;
    padding: 1rem 1.7rem;
    border: none;
    border-radius: 5px;
}

.SectionAbout{
    margin-top: 3rem;
}
.SectionAbout h3{
    margin-bottom: 1rem;
} 


.SectionCast{
    margin-top: 2rem;
}

.castList{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    grid-gap: 1.5rem;
    list-style: none;
}
