.RowList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 3rem;
    margin-top: 50px;
    
    
}
.Tier{
    list-style: none;
    color: gray;

}
.Tier h4{
    padding: 1rem;
    border-bottom: 1px solid rgb(211, 203, 203);
    width: 700px;
}