.seatList{
    display: flex;
    flex-direction: row;
    grid-gap:5px;

}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-gap: 5rem;
    

}