.ErrorPage{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ErrorPage h2{
    font-size: 50px;
}
.ErrorPage span{
    margin-top: 3rem;
    font-size: 26px;
    color: rgb(173, 171, 171);
}