.seats{
    width: 25px;
    height: 25px;
    list-style: none;
    border: 1px solid green;
    border-radius: 4px;
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 12px;
    transition: all 0.2s ease-in ;
}


.seats:hover{
    background-color: rgb(42, 221, 42);
    color: white;
    cursor: pointer;
}
.Selected{
    background-color: rgb(42, 221, 42);
    color: white;
    cursor: pointer;
}
.Booked{
    background-color: rgb(187, 187, 187);
    color:gray ;
    border: 1px solid rgb(122, 122, 122);
}
.Booked:hover{
    background-color: rgb(187, 187, 187);
    color:gray ;
    border: 1px solid rgb(122, 122, 122);
}